@page "/inicio"
@rendermode InteractiveServer
@inject ISesion Sesion

<PageTitle>Inicio</PageTitle>

<div>
    <h2>Bienvenido al Sistema de Gestión de Expedientes</h2>
    <br><br>
    <img src="https://cdn.discordapp.com/attachments/755874933568962813/1253590382676283485/3135820.png?ex=66766885&is=66751705&hm=abefdbd641a3fee6bb6f871477eaa775ac4fc4069bcc139d364d869dbba734b6&">
</div>

@code
{
    
}