@rendermode InteractiveServer

@if(visible)
{
    <div class="dialogo-contenedor">
        <div class="dialogo-contenido">
            <h3 class= "mensaje">@Mensaje</h3>
            <button class="btn btn-primary"  @onclick="ConfirmarYCerrar">Aceptar</button>
            <button class="btn btn-danger"  @onclick="Cerrar">Cerrar</button>
            
        </div>
    </div>
}

@code{
    private bool visible = false;

    [Parameter]
    public string Mensaje {get;set;}= "";

    public void Mostrar()
    {
        visible=true;
        StateHasChanged();
    }
    void Cerrar()
    {
        visible=false;
    }

    [Parameter]
    public EventCallback OnConfirmado{get;set;}

    void ConfirmarYCerrar()
    {
        visible=false;
        OnConfirmado.InvokeAsync();
    }
}
